# Dependency directories
node_modules/
dist

# dotenv environment variables file
.env
.env.test
.env.staging
.env.production

scripts/sandbox.js
.vscode

coverage/
.nyc_output

condominidb.dbs.bak

.todo
